@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="privacy-quote">
    Although this site can be considered public domain, we sincerely request that any viewing and/or sharing of this material<br>
    be done in the spirit of kindness and good-will toward us all.
</p>

<p class="privacy-quote">
    Kindest regards  <br> edgar.massey@gmail.com
</p>
