@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="privacy-quote">
    Although this site may be considered public domain, we kindly ask that any viewing or sharing of its content be done in a spirit of consideration and goodwill.
</p>

<p class="privacy-quote">
    Kindest regards  <br> edgar.massey@gmail.com
</p>
