@page
@model PrivacyModel
@{
    ViewData["Title"] = "Site info";
}
<h1>@ViewData["Title"]</h1>

<p class="privacy-quote">
    <strong>
        The Events and Pictures full option includes approximately 9000 pictures collected monthly over 28 years of our family life.
        These pictures are organized by year and month, allowing you to  explore our family's journey through these years.
    </strong>
</p>
 
<p class="privacy-quote">
    In the highlighted option of Events and Pictures the system selects all picture posts that have text material in the link marked on the right in black. 

        <p class="privacy-quote">
            Although this site may be considered public domain, we kindly ask that any viewing or sharing of its content be done in a spirit of consideration and goodwill.
        </p>


<p class="privacy-quote">
    Kindest regards  <br> edgar.massey@gmail.com
</p>

    <a href="http://www.themasseys.net/Familypix/Writings.asp" target="_blank" rel="noopener">Original themasseys.net site</a>
 