<h1>Our Home</h1>

<div class="row g-4">
    <div class="col-md-4">
        <a class="card text-decoration-none" href="/Home/Historic">
            <div class="card-body"><h5>Historic</h5></div>
        </a>
    </div>

    <div class="col-md-4">
        <a class="card text-decoration-none" href="/Home/Exterior">
            <div class="card-body"><h5>Exterior</h5></div>
        </a>
    </div>

    <div class="col-md-4">
        <a class="card text-decoration-none" href="/Home/Interior">
            <div class="card-body"><h5>Interior</h5></div>
        </a>
    </div>
</div>
